datasets==3.1.0
flwr==1.9.0
flwr-datasets==0.5.0
hydra-core==1.3.2
numpy==1.26.4
wandb==0.18.7
python-dotenv==1.0.1
torch==2.4.1
slwr @ git+https://github.com/sands-lab/slower.git@148cb07758cb0f389a6b73f53f639131a2312b23
torchvision==0.19.1
